doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 Noom 
        main 
            div#welcome
                form
                    input(type="text", placeholder="enter a room name", required)
                    button enter
                h4 Open rooms: 
                ul
            div#chat
                h3 
                ul 
                form#message
                    input(type="text", placeholder="leave a message", required)
                    button send
            div#nickname
                form#name
                    input(type="text", placeholder="save a nickname", required)
                    button save
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")